<!DOCTYPE html>
<html>

<head>
  <title>{{ title | safe }}</title>
  <meta charset="utf-8">
</head>

<body>
  This is the base template.

  <div class="slides">
    {{ slides | safe }}
  </div>

</body>

</html>
